<footer class="footer">
    <div class="container">
        <h2 class="section-title">
            our partners.
        </h2>
        <div class="partners">
            <div class="partners-item">
                <img src="./img/svg/partners-img-3.svg" alt="icon">
            </div>
            <div class="partners-item">
                <img src="./img/svg/partners-img-2.svg" alt="icon">
            </div>
            <div class="partners-item">
                <img src="./img/svg/partners-img-3.svg" alt="icon">
            </div>
            <div class="partners-item">
                <img src="./img/svg/partners-img-4.svg" alt="icon">
            </div>
            <div class="partners-item">
                <img src="./img/svg/partners-img-5.svg" alt="icon">
            </div>
            <div class="partners-item">
                <img src="./img/svg/partners-img-6.svg" alt="icon">
            </div>
            <div class="partners-item">
                <img src="./img/svg/partners-img-7.svg" alt="icon">
            </div>
        </div>
        <button class="to-top" id="toTop"></button>
        <div class="footer-contacts">
            <div class="footer-contacts__name">
                Sydney Philharmonia Choirs
            </div>
            <div class="footer-contacts__place">
                Pier 4, Hickson Road Walsh Bay NSW 2000
            </div>
            <a href="tel:0282746200" class="footer-contacts__phone">
                Phone: 02 8274 6200
            </a>
            <a href="mailto:admin@sydneyphilharmonia.com.au" class="footer-contacts__mail">
                admin@sydneyphilharmonia.com.au
            </a>
            <a href="http://sydneyphilharmonia.com.au" class="footer-contacts__link">
                sydneyphilharmonia.com.au
            </a>
            <a href="http://singwithpassion.com.au" class="footer-contacts__link">
                singwithpassion.com.au
            </a>
        </div>
        <div class="social">
            <a href="#" class="social__link">
                <img src="./img/svg/fb.svg" alt="facebook">
            </a>
            <a href="#" class="social__link">
                <img src="./img/svg/tw.svg" alt="twitter">
            </a>
            <a href="#" class="social__link">
                <img src="./img/svg/in.svg" alt="instagram">
            </a>
            <a href="#" class="social__link">
                <img src="./img/svg/youtube.svg" alt="youtube">
            </a>
            <a href="#" class="social__link">
                <img src="./img/svg/search-icon.svg" alt="search">
            </a>
        </div>
        <div class="footer-info">
            <span class="footer-info__default">Design</span> Sylvia Weimer, Spacelab Design www.spacelabdesign.com
        </div>
        <div class="footer-info">
            <span class="footer-info__default">photography</span> Keith Saunders and Will Taylor
        </div>
    </div>
</footer>