<header class="header">
    <div class="container">
        <div class="header-container">
            <a href="#" class="header-logo">
                <img src="./img/svg/logo.svg" alt="logo">
            </a>
            <div class="header-season">
                <img src="./img/svg/2017.svg" alt="season">
            </div>
            <div class="header-season">
                <img src="./img/svg/2018.svg" alt="season">
            </div>
            <div class="header__name">
                <span>Sydney Philharmonia
                Choirs</span> celebrating
                100 years in 2020
            </div>
            <div class="header-info">
                <div class="header-info-links">
                    <a class="text-uppercase" href="#">shop /</a> 
                    <a class="text-uppercase" href="#">cart</a>
                </div>
                <div class="social">
                    <a href="#" class="social__link">
                        <img src="./img/svg/fb.svg" alt="facebook">
                    </a>
                    <a href="#" class="social__link">
                        <img src="./img/svg/tw.svg" alt="twitter">
                    </a>
                    <a href="#" class="social__link">
                        <img src="./img/svg/in.svg" alt="instagram">
                    </a>
                    <a href="#" class="social__link">
                        <img src="./img/svg/youtube.svg" alt="youtube">
                    </a>
                    <a href="#" class="social__link">
                        <img src="./img/svg/search-icon.svg" alt="search">
                    </a>
                </div>
                <a href="#" class="header-info-donate text-uppercase">
                    donate
                </a>
            </div>
        </div>
        <div class="header-nav">
            <input type="checkbox" id="toggle">
            <label for="toggle" class="tablet-menu"></label>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-item__link" href="#our-product" data-scroll-link>
                        what‘s on
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item__link" href="#our-product" data-scroll-link>
                        support us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item__link" href="#why-slimexx" data-scroll-link>
                        sing with us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item__link" href="#customer-results" data-scroll-link>
                        about us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item__link" href="#reviews" data-scroll-link>
                        media
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item__link" href="#main-questions" data-scroll-link>
                        contact
                    </a>
                </li>
            </ul>
        </div>     
    </div>
</header>