<section class="intro">
    <div class="intro-slider">
        <div class="swiper-wrapper">
            <div class="intro-slide swiper-slide">
                <div class="intro-box">
                    <h3 class="intro-box__title text-uppercase">
                        Elgar <span>The Dream of Gerontius</span>
                    </h3>
                    <p class="intro-box__text">
                        400 singers perform Elgar’s
                        monumental work under the
                        stunning Sydney Opera House sails.
                    </p>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
            <div class="intro-slide swiper-slide">
                <div class="intro-box">
                    <h3 class="intro-box__title text-uppercase">
                        Elgar <span>The Dream of Gerontius</span>
                    </h3>
                    <p class="intro-box__text">
                        400 singers perform Elgar’s
                        monumental work under the
                        stunning Sydney Opera House sails.
                    </p>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
            <div class="intro-slide swiper-slide">
                <div class="intro-box">
                    <h3 class="intro-box__title text-uppercase">
                        Elgar <span>The Dream of Gerontius</span>
                    </h3>
                    <p class="intro-box__text">
                        400 singers perform Elgar’s
                        monumental work under the
                        stunning Sydney Opera House sails.
                    </p>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
            <div class="intro-slide swiper-slide">
                <div class="intro-box">
                    <h3 class="intro-box__title text-uppercase">
                        Elgar <span>The Dream of Gerontius</span>
                    </h3>
                    <p class="intro-box__text">
                        400 singers perform Elgar’s
                        monumental work under the
                        stunning Sydney Opera House sails.
                    </p>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="what section-pd">
    <div class="container">
        <h2 class="section-title pl-50">
            what’s on
        </h2>
        <div class="event-box">
            <img src="./img/event-box-1.jpg" alt="event-image">
            <div class="event-info">
                <h3 class="event-info__title">
                    chorus oz <span>Best sing ever!</span>
                </h3>
                <div class="event-about">
                    <div class="event-about__workshop">
                        Workshop Saturday 10th and Sunday 11th June
                    </div>
                    <div class="event-about__performance">
                        Performance Sunday 11th June, 5pm
                    </div>
                    <div class="event-about__where">
                        Concert Hall, Sydney Opera House
                    </div>
                    <div class="event-about__tickets">
                        Tickets: $75 plus booking fees
                    </div>
                </div>
                <div class="event-info-links">
                    <a href="#" class="btn btn_grey">
                        more info
                    </a>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="event-box">
            <img src="./img/event-box-2.jpg" alt="event-image">
            <div class="event-info">
                <h3 class="event-info__title">
                    tudor portraits
                </h3>
                <div class="event-about">
                    <div class="event-about__workshop">
                        Workshop Saturday 10th and Sunday 11th June
                    </div>
                    <div class="event-about__performance">
                        Performance Sunday 11th June, 5pm
                    </div>
                    <div class="event-about__where">
                        Concert Hall, Sydney Opera House
                    </div>
                    <div class="event-about__tickets">
                        Tickets: $75 plus booking fees
                    </div>
                </div>
                <div class="event-info-links">
                    <a href="#" class="btn btn_grey">
                        more info
                    </a>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="event-box">
            <img src="./img/event-box-3.jpg" alt="event-image">
            <div class="event-info">
                <h3 class="event-info__title">
                    nordic songs
                </h3>
                <div class="event-about">
                    <div class="event-about__workshop">
                        Workshop Saturday 10th and Sunday 11th June
                    </div>
                    <div class="event-about__performance">
                        Performance Sunday 11th June, 5pm
                    </div>
                    <div class="event-about__where">
                        Concert Hall, Sydney Opera House
                    </div>
                    <div class="event-about__tickets">
                        Tickets: $75 plus booking fees
                    </div>
                </div>
                <div class="event-info-links">
                    <a href="#" class="btn btn_grey">
                        more info
                    </a>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="event-box">
            <img src="./img/event-box-4.jpg" alt="event-image">
            <div class="event-info">
                <h3 class="event-info__title">
                    elgar <span>the dream of gerontius</span>
                </h3>
                <div class="event-about">
                    <div class="event-about__workshop">
                        Workshop Saturday 10th and Sunday 11th June
                    </div>
                    <div class="event-about__performance">
                        Performance Sunday 11th June, 5pm
                    </div>
                    <div class="event-about__where">
                        Concert Hall, Sydney Opera House
                    </div>
                    <div class="event-about__tickets">
                        Tickets: $75 plus booking fees
                    </div>
                </div>
                <div class="event-info-links">
                    <a href="#" class="btn btn_grey">
                        more info
                    </a>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="event-box">
            <img src="./img/event-box-5.jpg" alt="event-image">
            <div class="event-info">
                <h3 class="event-info__title">
                    songs of farewell <span>music of rememberance</span>
                </h3>
                <div class="event-about">
                    <div class="event-about__workshop">
                        Workshop Saturday 10th and Sunday 11th June
                    </div>
                    <div class="event-about__performance">
                        Performance Sunday 11th June, 5pm
                    </div>
                    <div class="event-about__where">
                        Concert Hall, Sydney Opera House
                    </div>
                    <div class="event-about__tickets">
                        Tickets: $75 plus booking fees
                    </div>
                </div>
                <div class="event-info-links">
                    <a href="#" class="btn btn_grey">
                        more info
                    </a>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="event-box">
            <img src="./img/event-box-6.jpg" alt="event-image">
            <div class="event-info">
                <h3 class="event-info__title">
                    handel <span>messiah</span>
                </h3>
                <div class="event-about">
                    <div class="event-about__workshop">
                        Workshop Saturday 10th and Sunday 11th June
                    </div>
                    <div class="event-about__performance">
                        Performance Sunday 11th June, 5pm
                    </div>
                    <div class="event-about__where">
                        Concert Hall, Sydney Opera House
                    </div>
                    <div class="event-about__tickets">
                        Tickets: $75 plus booking fees
                    </div>
                </div>
                <div class="event-info-links">
                    <a href="#" class="btn btn_grey">
                        more info
                    </a>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-pd">
    <div class="container">
        <h2 class="section-title pl-50">
            sing with us
        </h2>
        <div class="event-box">
            <img src="./img/event-box-7.jpg" alt="event-image">
            <div class="event-info">
                <h3 class="event-info__title">
                    workshop / discover <span>sing with us</span>
                </h3>
                <div class="event-about">
                    <div class="event-about__workshop">
                        Workshop Saturday 10th and Sunday 11th June
                    </div>
                    <div class="event-about__performance">
                        Performance Sunday 11th June, 5pm
                    </div>
                    <div class="event-about__where">
                        Concert Hall, Sydney Opera House
                    </div>
                    <div class="event-about__tickets">
                        Tickets: $75 plus booking fees
                    </div>
                </div>
                <div class="event-info-links">
                    <a href="#" class="btn btn_grey">
                        more info
                    </a>
                    <a href="#" class="btn">
                        BOOK NOW
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrap-video section-pd">
    <div class="container">
        <h2 class="section-title pl-50">
            our latest youtube video
        </h2>
        <div class="video">
            <img src="./img/video-bg.jpg" alt="video-img">
            <a class="video__link" href="#"></a>
        </div>
    </div>
</section>
<section class="wrap-other">
    <div class="container">
        <div class="other">
            <div class="shop-item">
                <h2 class="section-title">
                    OUR SHOP
                </h2>
                <a href="#" class="shop-link">
                    <img src="./img/link-img-1.png" alt="link-img">
                </a>
            </div>
            <div class="support-item">
                <h2 class="section-title">
                    SUPPORT US
                </h2>
                <div class="support-container">
                    <a href="#" class="support-link">
                        <img src="./img/link-img-2.jpg" alt="link-img">
                    </a>
                    <a href="#" class="support-link support-link__default">
                        Sydney Philharmonia Choirs 
                        <span>celebrating 100 years in 2020</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-pd">
    <div class="container">
        <h2 class="section-title text-center">
            Subscribe.
        </h2>
        <div class="subscribe-links">
            <a href="#" class="subscribe-link">Email</a>
            <a href="#" class="subscribe-link">Sign up</a>
        </div>
    </div>
</section>
<section class="wrap-instagram">
    <div class="container">
        <h2 class="section-title text-center">
            Our instagram.
        </h2>
        <div class="instagram-slider">
            <div class="swiper-wrapper">
                <img class="swiper-slide" src="./img/slide-img-1.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-2.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-3.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-4.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-5.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-6.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-1.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-2.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-3.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-4.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-5.jpg" alt="slide-img">
                <img class="swiper-slide" src="./img/slide-img-6.jpg" alt="slide-img">
            </div>
        </div>
        <div class="social">
            <a href="#" class="social__link">
                <img src="./img/svg/fb.svg" alt="facebook">
            </a>
            <a href="#" class="social__link">
                <img src="./img/svg/tw.svg" alt="twitter">
            </a>
            <a href="#" class="social__link">
                <img src="./img/svg/in.svg" alt="instagram">
            </a>
            <a href="#" class="social__link">
                <img src="./img/svg/youtube.svg" alt="youtube">
            </a>
        </div>
    </div>
</section>