@font-face {
    font-family: 'helvetica_neue';
    src: url('../fonts/HelveticaneueCondensedRegular/helveticaneue-condensedregular-webfont.eot');
    src: url('../fonts/HelveticaneueCondensedRegular/helveticaneue-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaneueCondensedRegular/helveticaneue-condensedregular-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaneueCondensedRegular/helveticaneue-condensedregular-webfont.woff') format('woff'),
         url('../fonts/HelveticaneueCondensedRegular/helveticaneue-condensedregular-webfont.ttf') format('truetype'),
         url('../fonts/HelveticaneueCondensedRegular/helveticaneue-condensedregular-webfont.svg#helvetica_neueCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Conv_Minion';
	src: url('../fonts/MinionProRegular/Pro Regular.eot');
    src: url('../fonts/MinionProRegular/fonts/Minion Pro Regular.woff') format('woff'), 
    url('../fonts/MinionProRegular/fonts/Minion Pro Regular.ttf') format('truetype'), 
    url('../fonts/MinionProRegular/fonts/Minion Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}