//Font family
$font-basic: 'helvetica_neue', sans-serif;
$font-second: 'Conv_Minion', sans-serif;

// Font size
$font-3xl: 30px;
$font-2xl: 28px;
$font-xl : 22px;
$font-lg : 20px;
$font-md : 18px;
$font-sm : 17px;
$font-xs : 16px;
$font-2xs : 14px;
$font-3xs : 12px;

// Color
$white : #FFF;
$black : #000;
$light-grey : #B9B5B5;
$grey : #B6B8BA;
$orange : #F36F21;